@import './reset.styl'
@import '../../node_modules/jeet/styl/index.styl'
@import '../../node_modules/rupture/rupture/index.styl'
@import './definitions/**/*'

@import './info.styl'
@import './player.styl'
@import './ui.styl'


body
  background-color black
  font-family Arial, Helvetica, sans-serif