@import './reset.styl'
@import '../../node_modules/jeet/styl/index.styl'
@import '../../node_modules/rupture/rupture/index.styl'
@import './info.styl'
@import './player.styl'
@import './ui.styl'


body
  background-color #ece7d5
