separation = 1%

.panorama
  padding 3%
  z-index 5
  position relative
  background-color backdrop-layer-color

  .wrapper
    center()
    .posterWrapper
      column(1/3)
      img
        center()
        max-width 75%
        +below('tablet')
          max-width 35%
        +below('mobile')
          min-width 100%
      +below('tablet')
        stack()
      +below('mobile')
        overflow hidden
        max-height 300px
        position relative
    .info
      .headInfo
        +below('tablet')
          text-align center
          margin-top separation*2
      color text-color
      column(2/3)
      .title
        display inline-block
      .release
        display inline-block
        margin-left 1%
        color lightness(text-color, 75%)
      .tagline
        margin-top 1%
        font-style italic
        color lightness(text-color, 85%)
      .overview
        clear both
        margin-top separation*4
        a
          text-decoration none
          display table
          margin-top separation
        +below('desktop')
          stack()
        +below('tablet')
          margin-bottom separation
      .moreInfo
        margin-top separation*4
        +below('tablet')
          padding-top separation
          border-top 2px solid
        .col
          column(1/3)

        p
          margin separation 0
        ul
          margin-top separation
        li
          margin-right separation
          list-style none
          display inline-block
        .infoTitle
          font-style bold
        +below('desktop')
          stack()
      +below('tablet')
        stack()

.backgroundImage
  position absolute
  left 0
  right 0
  z-index 1

  display block
  width 100%
  height 800px

  filter brightness(150%) grayscale(1)
  background-size cover
  background-repeat no-repeat
  background-position 50% 50%