.panorama
  padding 3%
  height 500px

.poster
  float left

.info
  float right
  max-width 60%
  padding 6%
  background-color rgba(255, 255, 255, 0.3)

.overview
  clear both

.next
  clear both
  width 100%
  text-align center