.videoWrapper
  text-align center

.videoContainer
  center()
  position relative
  video
    width 640px
    height 360px
    // margin 0 auto
    // display block
  .videoCaption
    position absolute
    top 0
    left 0
    text-align right