.rateBack
    width 65%
    border 2px text-color solid;

.rate
    background-color text-color
    text-align right
    div
        display inline-block
        margin 0
        font-size .75em
        padding 5%
        color blue