.rateBack
    width 65%
    border 2px text-color solid

.rate
    background-color text-color
    text-align right
    div
        display inline-block
        margin 0
        font-size .75em
        padding 5%
        color blue

.myButton
  background-color transparent
  border-radius 28px
  border 1px solid #ffffff
  display inline-block
  cursor pointer
  color #ffffff
  font-family Arial
  font-size 17px
  padding 16px 31px
  text-decoration none
  text-shadow 0px 1px 0px #2f6627

.myButton:active 
  position relative
  top 1px

.dirButton
  position fixed
  z-index 40
  top 5px
  left 0
  background-color red
  button
    margin 10px