<header>
    <div class="dirButton">
        <button type="" v-on:click=changeDirection>Change text direction?</button>
    </div>
    <div class="backgroundImage" v-bind:style="{ 'background-image': 'url(' + backdropUrl + ')' }"></div>
    <div class="panorama">
        <div class="wrapper">
            <div class="posterWrapper">
                <img :src=posterUrl alt="movie poster">
            </div>
            <div class="info">
                <div class="headInfo" v-bind:style="{direction: $data.direction}">
                    <h1 class="title">{{ info.title }}</h1>
                    <h2 class="release">({{ releaseYear }})</h2>
                    <h2 class="original_title" v-if="info.title !== info.original_title">{{ info.original_title }}</h2>
                    <h3 class="tagline">{{ info.tagline }}</h3>
                </div>
                <div class="overview" v-bind:style="{direction: $data.direction}">
                    {{ info.overview }}
                    <a :href=info.homepage>{{ info.homepage }}</a>
                </div>
                <div class="moreInfo" v-bind:style="{direction: $data.direction}">
                    <div class="buttonContainer">
                        <a href="#player" class="myButton">Play</a>
                    </div>
                    <div class="col1">
                        <div class="scoreContainer">
                            <p>Score</p>
                            <div class="rateBack">
                                <div class="rate" v-bind:style="{ width: ratingPercentage }">
                                    <div>{{ ratingPercentage }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extendedInfo">
                        <div class="col2">
                            <p class="infoTitle">Genre</p>
                            <ul>
                                <li v-for="genre in info.genres">{{ genre.name }}</li>
                            </ul>
                            <p class="infoTitle">Original language</p>
                            <p>{{ info.original_language }}</p>
                            <p class="infoTitle">Runtime</p>
                            <p>{{ hoursAndMin }}</p>
                        </div>
                        <div class="col2">
                            <p class="infoTitle">Spoken languages</p>
                            <ul>
                                <li v-for="lang in info.spoken_languages">{{ lang.name }}</li>
                            </ul>
                            <p class="infoTitle">Production countries</p>
                            <ul>
                                <li v-for="country in info.production_countries">{{ country.name }}</li>
                            </ul>
                            <p class="infoTitle">Budget</p>
                            <p>{{ budgetFormat }}</p>
                        </div>
                                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div id="player" class="videoWrapper">
        <div class="videoContainer" ref="videoContainer">
            <video ref="videoElement" controls :src="$data.video_url"></video>
            <div  class="videoCaption" ref="videoCaption" v-bind:style="{direction: $data.direction}"></div>
        </div>
    </div>
</header>