<header>
    <div class="backgroundImage" v-bind:style="{ 'background-image': 'url(' + backdropUrl + ')' }"></div>
    <div class="panorama">
        <div class="wrapper">
            <div class="posterWrapper">
                <img :src=posterUrl alt="movie poster">
            </div>
            <div class="info">
                <div class="headInfo">
                    <h1 class="title">{{ info.title }}</h1>
                    <h2 class="release">({{ releaseYear }})</h2>
                    <h2 class="original_title" v-if="info.title !== info.original_title">{{ info.original_title }}</h2>
                    <h3 class="tagline">{{ info.tagline }}</h3>
                </div>
                <div class="overview">
                    {{ info.overview }}
                    <a :href=info.homepage>{{ info.homepage }}</a>
                </div>
                <div class="moreInfo">
                    <ul>
                        <p>Genre</p>
                        <li v-for="genre in info.genres">{{ genre.name }}</li>
                    </ul>
                    <p>Original language</p>
                    <p>{{ info.original_language }}</p>
                    <p>{{ info.vote_average }}</p>
                    <p>Votes: {{ info.vote_count }}</p>
                    <p>{{ hoursAndMin }}</p>
                    <ul>
                        <li v-for="lang in info.spoken_languages">{{ lang.name }}</li>
                    </ul>
                    <ul>
                        <li v-for="company in info.production_companies">{{ company.name }}</li>
                    </ul>
                    <ul>
                        <li v-for="country in info.production_countries">{{ country.name }}</li>
                    </ul>
                    <p>Budget: ${{ info.budget }}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="videoWrapper">
        <div class="videoContainer" ref="videoContainer">
            <video ref="videoElement" controls></video>
            <div  class="videoCaption" ref="videoCaption"></div>
        </div>
    </div>
</header>