<header>
    <div class="panorama" v-bind:style="{ 'background-image': 'url(' + backdropUrl + ')' }">
        <div class="wrapper">
            <div class="poster">
                <img :src=posterUrl alt="">
            </div>
            <div class="info">
                <div class="title">
                    <h1>{{ info.title }}</h1>
                    <h1>{{ info.original_title }}</h1>
                    <h3>{{ info.release_date }}</h3>
                </div>
                <div class="overview">
                    {{ info.overview }}
                </div>
            </div>
            <!--<div class="next" v-scroll-to="videoWrapper">
                <a href="#" class="myButton">Play</a>
            </div>-->
        </div>
    </div>
    <div class="videoWrapper">
        <div class="videoContainer" ref="videoContainer">
            <video ref="videoElement" controls></video>
            <div  class="videoCaption" ref="videoCaption"></div>
        </div>
    </div>
</header>